XIAOFU_SERVER_HOST=0.0.0.0
XIAOFU_SERVER_PORT=9000
XIAOFU_SERVER_WORKERS=2
XIAOFU_DATA_DIR=/var/lib/xiaofu-vcall
XIAOFU_MYSQL_HOST=127.0.0.1
XIAOFU_MYSQL_PORT=3306
XIAOFU_MYSQL_USER=xiaofu
XIAOFU_MYSQL_PASSWORD=
XIAOFU_MYSQL_DATABASE=xiaofu
