FUNASR_ASR_HOST=0.0.0.0
FUNASR_ASR_PORT=10095
FUNASR_MODEL_DIR=/home/ubuntu/workspace/model/iic--speech_paraformer_asr_nat-zh-cn-16k-common-vocab8404-online/snapshots/master
FUNASR_MAX_CONNECTIONS=4
FUNASR_MAX_PCM_SAMPLES=960000
